<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;" />

    <title>ERROR</title>

</head>
<body style="">

<div style="text-align: center">
    <p>ERROR</p>
    <p id="cause">Default Message</p>
</div>

</body>

<script>
    document.getElementById("cause").innerText = "Cause: " + sessionStorage.getItem("errorCause")

    sessionStorage.clear()
</script>

</html>