<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;"/>

    <title>인증</title>

    <link rel="stylesheet" th:href="@{css/style.css}"/>

</head>
<body>
<div id="loadBlock" style="text-align: center">
    <p>Loading ...</p>
</div>
<div id="authBlock" style="text-align: center; display: none">
    <p>Input Personal Key</p>
    <p>
        <input type="text" name="personal" id="personalKeyInput"/>
    </p>
    <button type="button" id="loginBtna" class="btn" th:onclick="getInputValue()">로그인</button>
</div>

</body>

<script>

    /** field */
    let latlng

    /** init */
    checkWatchPosition();

    /** functions */
    function checkWatchPosition() {
        navigator.geolocation.watchPosition(function (position) {
                toggleBlockDisplay()
                console.log("enable Geolocation");
                latlng = {
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude
                }

            },
            function (error) {
                console.log("denied Geolocation", error);

                if (error.code === error.PERMISSION_DENIED) {

                } else if (error.code === error.POSITION_UNAVAILABLE) {
                    alert("위치 권한이 필요합니다.")
                }

                sessionStorage.setItem('errorCause', error.message);

                location.href = "/error"
            });
    }

    function getInputValue() {

        var personalKey = document.getElementById("personalKeyInput").value;

        console.log(personalKey);

        fetch("/personal", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "personalKey": personalKey
            })
        }).then(response => response.json())
            .then(data => {

                sessionStorage.setItem('personalKey', data.personalKey);
                sessionStorage.setItem('latlng', JSON.stringify(latlng));

                location.href = "/map"

            })
            .catch(error => {

                sessionStorage.setItem('errorCause', error.message);

                location.href = "/error"
            })

    }

    function toggleBlockDisplay() {
        document.getElementById("loadBlock").style.display = "none"
        document.getElementById("authBlock").style.display = "block"
    }

</script>
</html>