<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인증</title>

    <link rel="stylesheet" th:href="@{css/style.css}"/>

</head>
<body>
<div id="loadBlock" style="text-align: center">
    <p>Loading ...</p>
</div>
<div id="authBlock" style="text-align: center; display: none">
    <p>PASSWORD</p>
    <p>
        <input type="password" name="auth" id="loginInput"/>
    </p>
    <button type="button" id="loginBtna" class="btn" th:onclick="getInputValue()">로그인</button>
</div>

</body>

<script>

    /** field */
    let latlng

    /** init */
    checkWatchPosition();

    /** functions */
    function checkWatchPosition() {
        navigator.geolocation.watchPosition(function (position) {
                toggleBlockDisplay()
                console.log("enable Geolocation");
                latlng = {
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude
                }

            },
            function (error) {
                if (error.code === error.PERMISSION_DENIED) {
                    console.log(error)

                    console.log("denied Geolocation");
                } else if (error.code === error.POSITION_UNAVAILABLE) {
                    console.log(error)
                    alert("위치 권한이 필요합니다.")
                }

                sessionStorage.setItem('errorCause', error.message);

                location.href = "/error"
            });
    }

    function getInputValue() {

        console.log(document.getElementById("loginInput").value);

        sessionStorage.setItem('latlng', JSON.stringify(latlng));

        location.href = "/map"
    }

    function toggleBlockDisplay() {
        document.getElementById("loadBlock").style.display = "none"
        document.getElementById("authBlock").style.display = "block"
    }

</script>
</html>