<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;"/>

    <title>통계</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" th:href="@{css/style.css}"/>

</head>
<body>

<p id="statisticsBlock">추첨 통계</p>
<div id="statisticsDataBlock">
    <div id="chartBlock">
        <canvas id="myChart"></canvas>
    </div>
    <div id="listBlock">
        <p id="statisticsDescription">차트 기준 : 추첨 이력 마지막 30 건</p>
    </div>
</div>

</body>

<script th:inline="javascript">

    const ctx = document.getElementById('myChart');

    getStatistics()

    function getStatistics() {

        fetch(`/store/statistics?` + new URLSearchParams({personalKey: "k2systems"}).toString(), {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then(data => {
                    const keys = data.map((data) => data.store);
                    const values = data.map((data) => data.count);

                    drawChart(keys, values)
                    createTable(data)

                }
            )
            .catch(error => console.error('Error:', error))

    }

    function drawChart(keys, values) {

        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: keys,
                datasets: [{
                    label: '# of Votes',
                    data: values
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                },
            },
        })
    }

    function createTable(data) {

        let tableHeaders = ["가게", "횟수"]

        let tableHTML = '<table>';

        tableHTML += '<tr>';

        tableHeaders.forEach(key => {
            tableHTML += `<th>${key}</th>`;
        });

        tableHTML += '</tr>';

        data.forEach(item => {
            tableHTML += '<tr>';
            Object.values(item).forEach(value => {
                tableHTML += `<td>${value}</td>`;
            });
            tableHTML += '</tr>';
        });

        tableHTML += '</table>';

        document.getElementById("listBlock").innerHTML += tableHTML;
    }


</script>
</html>